@{
    ViewBag.Title = "Início";
}

<div class="jumbotron">
    <h1>Mitagem no CartolaFC</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>CartolaFC</h2>
        <p>
            Acesse ao site do Cartola FC para escalar o seu time.
        </p>
        <p><a class="btn btn-default" href="https://cartolafc.globo.com">Cartola FC</a></p>
    </div>
    <div class="col-md-4">
        <h2>Estatísticas UFMG</h2>
        <p>O departamento de Matemática da UFMG oferece algumas estatísticas e tabelas do campeonato brasileiro.</p>
        <p><a class="btn btn-default" href="http://www.mat.ufmg.br/futebol/serie-a/">UFMG/Estatísticas</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tabela Atualizada</h2>
        <p>Veja a tabela atualizada e a próxima rodada.</p>
        <p><a class="btn btn-default" href="https://globoesporte.globo.com/futebol/brasileirao-serie-a/">Tabela Brasileirão 2017</a></p>
    </div>
</div>